.IconLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.027);
  cursor: pointer;
}

.IconLink:hover {
  scale: 1.1;
}

.IconImg {
  max-width: 30px;
  max-height: 30px;
}
