.feedbackPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completedAppointments {
  box-shadow: 0px -1px 5px 2px rgba(179, 179, 179, 0.75);
  -webkit-box-shadow: 0px -1px 5px 2px rgba(179, 179, 179, 0.75);
  -moz-box-shadow: 0px -1px 5px 2px rgba(179, 179, 179, 0.75);
  border-radius: 5px;
  padding: 5px;
}

.completedAppointment {
  padding: 5px;
}

hr {
  border: none;
  height: 0.5px;
  background-color: black;
}

.feedbackButton {
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.feedbackButton:hover {
  background-color: #057d7a;
  color: white;
}

.popupFeedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.feedbackTextBox {
  min-width: 250px;
  min-height: 100px;
}

.popupRating {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

#fRating {
  margin: 0;
}

.popupButtons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
